name: Deploy Service/Web App

on:
  workflow_call:
    inputs:
      service_name:
        description: 'Name of service/web app'
        required: false
        type: string
      published_port:
        required: true
        type: number
      target_port:
        required: false
        type: number
        default: 3300
      compose_file:
        required: false
        type: string
      docker_context:
        required: true
        type: string
      strict_scan:
        required: false
        type: boolean
        default: true
    secrets:
      cr_username:
        required: true
      cr_token:
        required: true
      snyk_token:
        required: true

env:
  SERVICE_NAME: ${{ inputs.service_name || github.event.repository.name  }}

jobs:

  define:
    runs-on: [self-hosted, fit-runner-1]

    outputs:
      nodeEnv: ${{ steps.nodeEnv.outputs.value }}
      composeFile: ${{ steps.composeFile.outputs.value }}

    steps:
      - id: nodeEnv
        run: |
          if ${{endsWith(github.event.ref, 'prod')}}
          then
            echo "::set-output name=value::production"
            echo "::notice title=NODE_ENV::production"
          else
            echo "::set-output name=value::development"
            echo "::notice title=NODE_ENV::development"
          fi
      - id: composeFile
        run: |
          if ${{ inputs.compose_file == ''}} && ${{endsWith(github.event.ref, 'prod')}}
          then
            echo "::set-output name=value::prod-stack"
            echo "::notice title=composeFile::prod-stack"
          elif ${{ inputs.compose_file == ''}} && ${{endsWith(github.event.ref, 'dev')}}
          then
            echo "::set-output name=value::dev-stack"
            echo "::notice title=composeFile::dev-stack"
          else
            echo "::set-output name=value::${{ inputs.compose_file }}"
            echo "::notice title=composeFile::${{ inputs.compose_file }}"
          fi

  metadata:
    runs-on: [self-hosted, fit-runner-1]

    outputs:
      imageTag: ${{ steps.meta.outputs.tags }}

    steps:
      - name: Docker Meta
        id: meta
        run: echo "::set-output name=tags::pinjammodal/${{ env.SERVICE_NAME }}:${GITHUB_REF#refs/*/}" 

      - name: Notice meta
        run: echo "::notice title=meta tag created::${{ steps.meta.outputs.tags }}"

  code-scan:
    runs-on: [self-hosted, fit-runner-1]

    steps:
      - uses: actions/checkout@master

      - run: docker context use default

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: ${{ github.event.inputs.strict_scan }}
        env:
          SNYK_TOKEN: ${{ secrets.snyk_token }}
        with:
          args: --severity-threshold=high
          command: test

  swarm-deploy:
    needs: [metadata, define, code-scan]
    runs-on: [self-hosted, fit-runner-1]

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.cr_username }} 
          password: ${{ secrets.cr_token }}
      
      - name: Set Context
        run: docker context use ${{ inputs.docker_context }}

      - name: Check stack
        run: echo "STACK=$(docker stack ls | grep -c ${{ env.SERVICE_NAME }}[[:space:]])" >> $GITHUB_ENV

      - uses: actions/setup-node@v3
        if: env.STACK == 0
        with:
          node-version: '12'

      - run: npm install -g mustache
        if: env.STACK == 0

      - name: Set template variable
        if: env.STACK == 0
        run: |
          cat<<EOT >> deployment/templates/config.json
          {
            "service_name": "${{ env.SERVICE_NAME }}",
            "image": "${{ needs.metadata.outputs.imageTag }}",
            "node_env": "${{ needs.define.outputs.nodeEnv }}",
            "target_port": "${{ inputs.target_port }}",
            "published_port": "${{ inputs.published_port }}"
          }
          EOT

      - name: Set Variable in Compose
        if: env.STACK == 0
        run: mustache deployment/templates/config.json deployment/templates/${{ needs.define.outputs.composeFile }}.mustache > deployment/${{ needs.define.outputs.composeFile }}.yml

      - name: Check Service Network
        if: env.STACK == 0
        id: network
        run: |
          docker network ls > tmp
          if grep -wq public tmp; then echo "::notice title=network exist::public network already exist" ; else echo "::set-output name=create::true"; fi

      - name: Create Service Network
        if: steps.network.outputs.create
        run: docker network create -d overlay --attachable public

      - name: Stack deploy
        if: env.STACK == 0
        run: docker stack deploy --resolve-image=always --with-registry-auth --compose-file deployment/${{ needs.define.outputs.composeFile }}.yml ${{ env.SERVICE_NAME }}

      - name: Update current service
        if: env.STACK == 1
        run: docker service update --health-retries 3 --health-interval 5s --with-registry-auth --image ${{ needs.metadata.outputs.imageTag }} ${{ env.SERVICE_NAME }}_${{ env.SERVICE_NAME }}

  runner-cleanup:
    needs: [swarm-deploy]
    runs-on: [self-hosted, fit-runner-1]

    steps:
      - name: Prune Images
        run: |
          docker context use default
          docker image prune -a -f
          docker rmi -f $(docker images -f "dangling=true" -q) || true
